* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  overflow: hidden;
  height: 500px;
  margin: 0 10%;
  border-radius: 10px;
  border: 1px solid white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: .4; } 
  to { opacity: 1; }
}

@media only screen and (max-width: 415px) {
  .slideshow-container {
    margin: 0;
    border: none;
  }

  img {
    border-radius: 10px;
    border: 1px solid white;
  }
}
